body {
  padding: 0;
  margin: 0;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    background-color: beige;
    padding: 10px;
    justify-content: center;
    align-items: center;
    button {
      width: max-content;
    }
  }
}
