/* fonts........ */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.all {
  display: flex;
  padding: 30px;
  padding-inline: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #c6ff00;

  .text {
    font-family: "Rubik", sans-serif;
    color: #121212;
    padding-left: 10px;
  }
  .input {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    padding-right: 10px;

    p {
      background-color: #121212;
      color: #ffffff;
      font-family: "Quicksand", sans-serif;
      border-radius: 5px;
      padding: 5px;
    }

    .textContainer {
      border: 1px solid black;
      border-radius: 5px;
      height: 25px;
      width: 400px;
    }
  }
  button {
    padding: fit-content;
    background-color: transparent;
    border: none;
  }
}

.add {
  display: flex;
  background-color: #121212;
  border-radius: 5px;
  height: max-content;
  padding: 2px;
}
img {
  border-radius: 15px;
  height: fit-content;
  background-color: #ffffff;
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  margin-top: 25vh;
  margin-left: 25vh;
  height: 30vh;
  width: 70vh;
  border-radius: 8px;
  padding-top: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  .closeText {
    display: flex;
    justify-content: end;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    .close {
      color: rgb(4, 4, 4);
      font-family: "Courier New", Courier, monospace;
      background-color: #df0f0f;
      font-weight: 900;
      padding: 5px;
      padding-inline: 10px;
    }
  }
}

.important {
  display: flex;
  justify-content: center;
  gap: 10px;

  input {
    width: px;
  }

  .impTitle {
    color: #121212;
  }
}
